#login-header-style{
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

#login-button-style {
    background-color: #87726c;
    color: white
}

#register-button-style{

    background-color:#d2bbb18d;
}