#login-header-style{
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

#login-button-style {
    background-color: #87726c;
    color: white
}

#register-button-style{

    background-color:#d2bbb18d;
}

.register-error-message-style {
    color: red;
    margin-top: -4%;
    margin-bottom: 5px
}

@media only screen and (min-width: 600px) {

    .register-error-message-style {
        margin-top: 0%;
        
    }

}