/* #soap-card{


    color: black
} */
#product-header-style{

    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

#soap-card {
    border: 0px !important;
    text-decoration: none;
        color: black;
    box-shadow: 10px 20px 30px #e1ddd7;
    cursor: pointer;
}

#div-for-search-buttons{
    margin-top: 10px;

}


#enter-search-btn-style{
    background-color:#d2bbb18d;

}

#reset-search-btn-style{
    background-color:#87726c;
    color:white

}


.products-error-message-style{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px
}
