#variant-card {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    
}

#variant-title-style{
   
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}


#variant-thumbnail{
    width: 80px
    
}